body {
  background-color: #f1f1f1;
  font-family: "Arial", sans-serif;
  padding: 0;
  display: flex;
  margin-top: -5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)),
    url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: 1s opacity;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100; /* Keeps the video behind the content */
    background-size: cover;
    transition: 1s opacity;
    opacity: 0.5; /* Dim the video a little bit for readability */
}

h1 {
  font-size: 2.5rem;
  padding-top: 0; /* No need for extra padding at the top */
}

p {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Space between text and buttons */
}

button {
  border: none;
  font-size: 3.6rem;
  margin: 0 0.9rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  opacity: 0.7;
}

#rock {
  background-color: #ff0000;
}

#paper {
  background-color: #2196f3;
}

#scissors {
  background-color: #4caf50;
}

#user-score {
  color: #2196f3;
}

#computer-score {
  color: #ff0000;
}
