body {
  background-color: #f1f1f1;
  font-family: "Arial", sans-serif;
  margin: 0; /* Remove the top margin */
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  text-align: center; /* Center text */
  position: relative; /* So the video stays in the background */
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100; /* Keeps the video behind the content */
    background-size: cover;
    transition: 1s opacity;
    opacity: 0.5; /* Dim the video a little bit for readability */
}

h1 {
  font-size: 2.5rem;
  padding-top: 0; /* No need for extra padding at the top */
}

p {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Space between text and buttons */
}

button {
  border: none;
  font-size: 3.6rem;
  margin: 0 0.9rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  opacity: 0.7;
}

#rock {
  background-color: #ff0000;
}

#paper {
  background-color: #2196f3;
}

#scissors {
  background-color: #4caf50;
}

#user-score {
  color: #2196f3;
}

#computer-score {
  color: #ff0000;
}
